@import "global-styles"; 

@search-box-height: 200px;
@search-box-margin: 20px;

main {
	position: absolute;
	top: @header-height;
	bottom: 0;
	width: 100%;
}
#map { 
	height: 100%; 
}

#search-box {
	position: absolute;
	top: 0;
	left: @search-box-margin;
	right: @search-box-margin;
	height: @search-box-height;
	margin: 0 auto;
	background-color: white;
	box-shadow: 1px 1px 5px 0px rgba(100,100,100,1);
}