@import "global-styles";

@sidebar-width: 200px;
@sidebar-animation-duration: 0.3s;
@sidebar-photo-padding: 6px;
@sidebar-photo-border: 2px;
@sidebar-photo-size: @header-height - 2 * (@sidebar-photo-padding + @sidebar-photo-border);

sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1001;
	overflow: hidden;
}
sidebar.open {
	visibility: visible;
	transition: visibility @sidebar-animation-duration;
}
sidebar.closed {
	visibility: collapse;
	transition: visibility @sidebar-animation-duration;
}
sidebar .sidebar-menu-content {
	position: absolute;
	top: 0;
	height: 100%;
	width: @sidebar-width;
	background-color: @main-color;
	z-index: 2;
	box-shadow: 0px 2px 7px 0px rgba(150,150,150,1);
}
sidebar #sidebar-remaining {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	z-index: 1;
}
sidebar.open .sidebar-menu-content {
	left: 0;
	transition: left @sidebar-animation-duration;
}
sidebar.closed .sidebar-menu-content {
	left: -@sidebar-width;
	transition: left @sidebar-animation-duration;
}
sidebar.open #sidebar-remaining {
	opacity: 0.3;
	transition: opacity @sidebar-animation-duration;
}
sidebar.closed #sidebar-remaining {
	opacity: 0;
	transition: opacity @sidebar-animation-duration;
}

// Sidebar profile
sidebar .user-profile {
	height: @header-height;
	width: 100%;
	border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
}
sidebar .profile-photo {
	display: inline-block;
	position: absolute;
	top: @sidebar-photo-padding;
	left: @sidebar-photo-padding;
	height: @sidebar-photo-size;
	width: @sidebar-photo-size;
	border-radius: @sidebar-photo-size;
	border: white  solid;
	background-image: url('profile_photo.jpg');
	background-size: cover;
}
sidebar .profile-username {
	display: inline-block;
	position: absolute;
	left: @header-height;
	height: @header-height;
	line-height: @header-height;
	color: white;
}

// Sidebar items
sidebar .menu-items {
	margin-left: 10px;
	margin-top: 20px;
}
sidebar .menu-items li {
	margin-top: 10px;
	color: white;
	font-size: 1.4em;
}
sidebar .menu-items a {
	color: white;
	text-decoration: none;
}